.productsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  min-height: max-content;
  height: max-content;
  margin: 0;
  list-style: none;
  padding: 0;
  padding-inline-start: 0;
}
